<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <main>
            <section>
                <form id="add-user-form">
                    <label for="name">Name</label>
                    <input id="name" name="name" />
                    <label for="age">Age</label>
                    <input id="age" name="age" type="number" />
                    <button type="submit">Add user</button>
                </form>
            </section>
            <section>
                <table>
                    <thead>
                        <th>
                            <td>
                                No.
                            </td>
                            <td>
                                Name
                            </td>
                            <td>
                                Age
                            </td>
                        </th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </section>
        </main>
        <script src="js/jquery.js"></script>
        <script src="js/axios.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
